[submodule "cef"]
	path = deps/cef
	url = https://bitbucket.org/chromiumembedded/cef.git
[submodule "depot_tools"]
	path = tools/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "gyp"]
	path = tools/gyp
	url = https://chromium.googlesource.com/external/gyp
